.login_area{
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	/*margin-top: 100px;*/
	margin-bottom: 300px;
}

.logo{
	width: 30%;
	border-radius: 20px;
}

body {
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), url('../assets/images/meme_background.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	color: white;
}
