.profile_area{
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
}

/* -- Profile-picture -- */
div.picture-container {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	/* box-shadow: 5px 10px 18px #888888; */
}

.profile-picture {
	height: inherit;
	width: inherit;
	object-fit: scale-down;
	border-radius: inherit;
}

/* -- Profiler name -- */
p.name {
	font-size: 33px;
	letter-spacing: 1.5px;
	font-weight: 600;
	padding: 10px;
}
span.username {
	font-size: 19px;
	font-weight: normal;
	letter-spacing: normal;
}

/* -- bio-container -- */
div.bio-container {
	width: 50%;
}
p.bio {
	padding: 7px;
	letter-spacing: 1.5px;
}

/* ------------------------------------------ */

	/* For the Tabs in User profile */

/* for tab container */
.profile_area .profile-tabs {
	display: flex;
	flex-wrap: wrap;
	max-width: 830px;
	margin: 30px auto;
	padding: 10px;
}

/* to remove the radio input button */
.profile-tabs input[type="radio"] {
	display: none;
}

/* for the label which is two tab(Timeline and About) */
.profile_area .profile-tabs label {
	padding: 8px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	background-color: #a8a1a1;
	font-weight: 600;	
	margin-right: 20px;
	margin-bottom: 20px;
	cursor: pointer;
	border-radius: 8px;
	transition: background-color .3s;
	width: min-content;
}

/* the container for all the content */
.profile-tabs .tab-container {
	width: 100%;
	padding: 30px;
	order: 1;
	display: none;
	border-radius: 10px;
}

/* if cursor hover to the tabs */
.profile-tabs label:hover {
	background-color: rgb(211, 191, 191);
}

/* if clicked a sudden white background will appear */
.profile-tabs label:active {
	background-color: white;
}

/* will show the content if the tab is clicked */
.profile-tabs input[type="radio"]:checked + label + .tab-container {
	display: block;
}

/* if the tab is clicked the background-color change  */
.profile-tabs input[type="radio"]:checked + label {
	background-color: #ccc;
	border-bottom: 2px solid;
	border-color: #4b4444;
}
	/* End of the Tabs in User profile */

/* ------------------------------------------ */

/* About Container */
	.profile-tabs .about-container {
		height: auto;
		width: 95%;
		margin: 0 auto;
	}
	.profile-tabs .about-container .about-info {
		margin: 0;
		padding: 10px;	
	}
	.profile-tabs .about-container .about-info span {
		font-size: 1.5em;
		font-weight: 600;
	}
	.profile-tabs .About {
		width: min-content;
		border-bottom: 3px solid;
	}
/* End About Container */



/* for the timeline posts */

/* for post container */
.post-container {
	margin-bottom: 10px;
	border-radius: 10px;
	padding: 20px;
	margin: 45px 5px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.post-container div.poster-info {
	display: flex;
	min-height: 70px;
	line-height: 70px;
	/* margin: 10px; */
}
/* for poster photo */
.post-container div.poster-info .poster-photo {
	height: 53px;
	width: 53px;
	border-radius: 50%;
	margin-right: 10px;
}
/* for poster username */
.post-container div.poster-info .user-name {
	font-size: 18px;
	initial-letter: 2px;
	margin: 3px;
}

/* for post-title */
.post-container .post-title {
	font-size: 25px;
	margin: 10px;
}

/* for posted photo */ 
.post-container .posted-photo {
	height: min-content;
}
.post-container .posted-photo div.photo-container {
	border: 1px solid rgb(206, 204, 204);
	padding: 10px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.post-container .posted-photo div.photo-container a {
	width: 100%;
}
.post-container .posted-photo div.photo-container img {
	border-radius: 10px;
	height: inherit;
	width: inherit;
	object-fit: scale-down;
}
/* end for the timeline posts */
